services:
  ubuntu_env:
    build: .
    container_name: ubuntu_db
    tty: true
    stdin_open: true
    networks:
      - db_network
    depends_on:
      - mysql
      - postgres
      - mssql
      - mongodb
    volumes:
      - ./data:/data
    ports:
      - "2222:22"   # opcional si quieres SSH dentro del contenedor

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: testdb
    ports:
      - "3310:3306"
    networks:
      - db_network
    volumes:
      - mysql_data:/var/lib/mysql

  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root123
      POSTGRES_DB: testdb
    ports:
      - "5440:5432"
    networks:
      - db_network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql_db
    restart: always
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Root123!"
    ports:
      - "1440:1433"
    networks:
      - db_network
    volumes:
      - mssql_data:/var/opt/mssql

  mongodb:
    image: mongo:7
    container_name: mongodb_db
    restart: always
    ports:
      - "27120:27017"
    networks:
      - db_network
    volumes:
      - mongodb_data:/data/db

networks:
  db_network:
    driver: bridge

volumes:
  mysql_data:
  postgres_data:
  mssql_data:
  mongodb_data: